@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "sans-serif";
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to left, #e66465, #9198e5 );
  position: relative;
}

.gameboard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gameboard-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.gameboard-grid div {
  height: 150px;
  width: 150px;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}

.gameboard-grid .no-border-right {
  border-right: none;
}

.gameboard-grid .no-border-bottom {
  border-bottom: none;
}

.fadeOut {
  opacity: 0;
  pointer-events: none;
}

.fadeIn {
  opacity: 1;
  pointer-events: all;
}

.info, .info-restart{
  position:absolute;
  display: flex;
  gap: 100px;
  width: 100%;
  flex-direction: column;
  font-weight: bold;
  color: #dadadb;
  padding: 100px;
  transition: opacity 0.15s ease;


}

.info .title {
  display: flex;
  justify-content: center;
  font-size: 4rem;
}

.gamePick {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 100px;
  
}

.player1 , .player2 {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.player1heading, .player2heading {
  font-size: 2rem;
}

.player2 button, .player1 button , .gameboard .reset , .restart {
  width: 150px;
  height: 50px;
  border-radius: 3px;
  color: #dadadb;
  background-color: black;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.15s;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.5);
}

.player2 button:hover , .player1 button:hover, .gameboard .reset:hover, .restart:hover{
  opacity: 0.8;
  background-color: #dadadb;
  color: black;
}

.player2 button:active, .player1 button:active, .gameboard .reset:active,.restart:active {
  opacity: 0.5;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.submit-button button {
  width: 150px;
  height: 50px;
  border-radius: 3px;
  color: #dadadb;
  background-color: rgb(3, 119, 9);
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.15s;

}

.submit-button button:hover {
  opacity: 0.8;
}

.submit-button button:active {
  opacity: 0.5;
}


.active {
  box-shadow: none !important;
  background-color: rgb(3, 119, 9) !important;
}

.warning {
  color: red;
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}

.gameboard .update,.restart-container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  flex-direction: column;
}
.restart-container{
  margin-top: 10px;
}

.playerstatus {
  color: #dadadb;
  font-size: 2rem;
  margin-bottom: 20px;
}

.player1-css {
  color: black;
  padding: 50px 50px;
  font-weight: bold;
  font-size: 50px;

}

.player2-css {
  color: white;
  padding: 50px 50px;
  font-weight: bold;
  font-size: 50px;
}


.gameboard .reset {
  margin-bottom: 20px;
}

.disable {
  pointer-events: none;
}


